<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0093c4;
    position:fixed;
    z-index: 1;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.aaa{
	background-color: #62ebff;
}
.aa{
	background-color: #ff8a80;

}
</style>
</head>
<body class ="aa">

<ul>
  <li><a href="/loginmodule/need_help/">help</a></li>
  <li><a href="/loginmodule/login/">Login</a></li>
  <li><a class="active" href="/loginmodule/home/">Home</a></li>
</ul><br><br>

<h2 align="center">ABOUT US</h2>
<br><br>
	-->This is fully new Application...<br><br>
    -->This is written in python...
</body></html>