<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0093c4;
    position:fixed;
    z-index: 1;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.aaa{
	background-color: #62ebff;
}
.aa{
	background-color: #ff8a80;

}
</style>
</head>
<body class ="aa">

<ul>
  <li><a href="/loginmodule/about_us/">About us</a></li>
  <li><a href="/loginmodule/login/">Login</a></li>
  <li><a class="active" href="/loginmodule/home/">Home</a></li>
</ul><br><br>

<h2 align="center">HELP</h2><br><br>
	--> This application works on online banking system....<br><br>
	--> You can do transaction using this one...  clicking on transaction in above navigation bar... You have to columns of to account and amount.... so do the  
	    transaction....<br><br>
	--> Also You can take hints for taking loans...<br><br>
	--> you can check history of your account also....<br>

</body></html>