<html>
{% load static %}
<head>
<link rel="stylesheet" href={% static "materialize.css" %} type="text/css" media="all"/>
<script src={% static "materialize.js" %}></script>
<style>
table, th, td {
    border: 1px solid black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0093c4;
    position:fixed;
    z-index: 1;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.aaa{
	background-color: #62ebff;
}

.aa{
	background-color: #ff8a80;

}
</style></head>
<body class="aa">
<ul><li>
  <a href="/loginmodule/transaction/">Transaction</a></t></li>
			<li><a href="/loginmodule/display/">Mini_Statement</a></li>
	  		<li><a href="/loginmodule/profile/">Profile</a></li>
<li style="float:right"><a href="/loginmodule/logout/">logout</a></li>
</ul><br><br>
</ul>
<h2>Thanks for transfer the amount online</h2><br>
<h3>{{full_name}},Your Current balance is: {{amounttt}}</h3>
</body>
</html>